*{margin: 0;padding: 0;box-sizing: border-box;font-size: 14px}
ul>li{list-style: none;}
.main{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.topTu{width: 100%;
    overflow: hidden;
}
.imgWrapper{
    width: 100%;
    position: relative;
}
.imgWrapper>img{
    width: 100%;
}
.smallTu{
    width: 25%!important;
    position: absolute;
    right: 276px;
    top: 94px;
}
.ya-notice-tab {
    width: 100%;
    display: block;
    margin: 40px auto;
    text-align: center;
    margin-top: 20px;
}
.ya-notice-tab a:hover, .ya-notice-tab a.active {
    background: rgb(206,16,43);
    color: #fff;
}
.ya-notice-tab a:first-child {
    /*margin-right: 10px;*/
}
.ya-notice-tab a {
    position: relative;
    display: inline-block;
    border: 2px solid rgb(206,16,43);
    width: 149px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    color: rgb(206,16,43);
    cursor: pointer;
    font-size: 16px;
    margin: 0 13px;
}
.ya-notice-tab a i.ya-notice-iconl {
    left: -120px;
}
.ya-notice-tab a i {
    position: absolute;
    top: 10px;
    width: 101px;
    height:7px;
    background: url(../images/indexList/icon-line.png) no-repeat;
    background-size: 100%;
}
.ya-notice-tab a i.ya-notice-iconr {
    right: -120px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ya-notice-tab a:first-child {
    margin-right: 10px
}

.ya-notice-tab a:hover,
.ya-notice-tab a.active {
    background:  rgb(206,16,43);
    color: #fff
}

.ya-notice-list {
    padding: 10px 20px;
}

.ya-notice-list ul {
    display: inline-block;
    width: 100%
}

.ya-notice-list ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #d7d7d7;
    color: #606060;
    line-height: 1.8;
    overflow: hidden;
}

.ya-notice-list ul li:first-child {
    padding-top: 0
}

.ya-notice-list ul li:last-child {
    border: none
}

.ya-notice-list .notice-date {
    float: left;
    width: 20%;
}

.ya-notice-list .notice-date h3 {
    font-size: 14px;
}

.ya-notice-list .notice-date p {
    font-size: 14px
}

.ya-notice-list .notice-con {
    float: left;
    width: 60%
}

.ya-notice-list .notice-con-1 {
    width: 80%
}

.ya-notice-list .notice-con h3 a {
    font-size: 14px;
    color: #606060;
}

.ya-notice-list .notice-con h3 a:hover {
    color: rgb(206,16,43);
}

.ya-notice-list .notice-con p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ya-notice-list .notice-more {
    float: right;
    color: #b5b5b5;
    font-size: 12px
}

.ya-notice-list .notice-more span {
    padding: 0 10px;
    text-decoration: underline;
    font-size: 12px;
}

.ya-notice-list .notice-more:hover {
    color:  rgb(206,16,43);
}

.list-pages {
    padding: 10px 12px;
    clear: both;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 60px;
    margin-top: 30px
}

.list-pages a,
.list-pages span {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    margin: 5px 1px 0 0;
    background: #fff;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    vertical-align: top
}

.list-pages a:hover {
    background: rgb(206,16,43);
    border: 1px solid  rgb(206,16,43);
    text-decoration: none
}

.list-pages a,
.list-pages a:visited {
    color: #252525
}

.list-pages a:hover,
.list-pages a:active {
    color: #ffffff
}

.list-pages .current {
    background:  rgb(206,16,43);
    border: 1px solid  rgb(206,16,43);
    color: #fff
}

.list-pages a.current,
.list-pages a.current:visited {
    color: #ffffff
}

.list-pages a.current:hover,
.list-pages a.current:active {
    color: #ffffff
}

.pages-ctrl {
    font-weight: bold;
    font-size: 16px
}

.pages-e5e5e5 {
    color: #e5e5e5
}
.bner1 {
    position: relative;
    min-height: 535px;
    background: url(../images/indexList/bner_bg.png) no-repeat center;
    background-size: cover;
}
.gongG{
    width: 20% !important;
    padding-top: 10%!important;
    margin-right: 61%!important;
}
.gongG>img{
    width: 100%;
}
.riskManage{
    width: 100%;
    margin-bottom: 40px;
}
.riskManage:after{
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.innerRisk{
    width: 100%;
    margin: auto;
}
.innerRisk:after{
    display: block;
    visibility: hidden;
    clear: both;
}
.innerRisk>p>span{
    font-size: 12px;
}
.innerRisk>p>em{
    margin-right: 5px;
}

.top_Title{
    font-weight: bold;
    font-size: 12px;
}
.bottomList{
    margin-top: 10px;
}
.bottomList div{
    margin-bottom: 10px;
}
.bottomList div em{
    margin-right: 5px;
}
.bottomList div p{
    font-size: 12px;
}
.anLiTitle,.introduceTitle{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.introduce p{
    text-indent: 24px;
    font-size: 12px;
}
table tr th, table tr td { border:1px solid #e5e5e5; font-size: 12px}
table{
    border-collapse: collapse;
}
table tr th{
  padding: 10px;
    background: #F0F0F0;
    font-size: 18px;
	letter-spacing: 1px;
}
table tr td{
    padding: 10px;
    text-align: center;
	    font-size: 16px;
		letter-spacing: 1px;
}
table{
    width: 100%;
}
table tr td:first-child{
    width:50%;
}

table tr td:first-child a{
    color:#333333!important;
}
table tr td:first-child a:hover{
color:rgb(206,16,43)!important;
}
table tr td:last-child{
    width: 20%;
}
